<h1><%= @customer.name %></h1>

<h4>Associated Supermarket: <%= @customer.supermarket.name %></h4>

<h4>Items Bought by Customer </h4>
<ul>
<% @customer.items.each do |item| %>
    <li><%= item.name %></li>
    <br>
<% end %>
</ul>

<h4>Total Item Price: <%= number_to_currency(@customer.total_price) %></h4>