<h4>Supermarket Items for <%= @supermarket.name %> Market</h4>

<ul>
<% @supermarket.unique_items.each_with_index do |item, index| %>
    <div id = "item-<%= index %>">
        <li><%= item.item_name %></li>
    </div>
<% end %>
</ul>